body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.1875;
}

.slide {
  width: 640px;
  padding: 0 20px;
  box-sizing: border-box;
  display: none;
}

p {
  font-weight: 300;
}

.slide.selected {
  display: block;
}
